@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap');

@font-face {
  font-family: 'Afjat Trends';
  src:
    url('/src/assets/Afjat Trends Light - Update.woff2') format('woff2'),
    url('/src/assets/Afjat Trends Light - Update.ttf') format('truetype'),
    url('/src/assets/Afjat Trends Light - Update.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
